*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}
.itens{
    text-decoration: none;
    color: #9bd0ba;
    font-size: x-large;
    font-weight: 600;

}
ul{
    list-style: none;
}
.riscosmenu{
    width: 40px;
}
input[type="checkbox"]{
    display: none;
}
nav{
    background-color: #9bd0ba;
    width: 350px;
    height: 100%;
    position: absolute;
    left: -350px;
    transition: all 0.5s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
.itens{
    display: block;
    padding: 20px 5px;
    color: white;
    margin-left: 25px;
    font-size: x-large;
    font-weight: 600;
}
.itens:hover{
    border-bottom: 3px solid #ea524c;
    margin-right: 200px;
    color: white;

}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.lista-menu{
    top: 70px;
    position: absolute;
    width: 100%;
}
header{
    border-bottom: 5px solid rgb(230, 230, 230);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu{
    list-style: none;
    padding: 10px;
}
#menu li{
    display: inline;
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
    position: relative;
}
#menu li a{
    display: inline-block;
    color: #9BD0BA;
    text-decoration: none;
    padding: 10px;
    
}
#menu li a:hover{
    border-bottom: 3px solid #EA524C;
    padding: 10px;

}
.titulo{
    font-weight: 700;
    color: #F5B561;
    font-size: xxx-large;
}
.logo{
    width: 10vw;
    height: 19vh;
}
main{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.foto{
    width: 60vw;
    height: 35vw;
    margin-top: 13px;
    border: 1px solid black;
    margin-bottom: 13px;
}
.foto1{
    width: 13vw;
    height: 22vh;
    margin-top: 10px;
}
.foto2{
    width: 13vw;
    height: 19vh;
    margin-bottom: 10px;  
}
.manchete{
    border-left: 5px solid #F5B561;
    padding-left: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    color: black;
    margin-bottom: 20px;
}
.manchete-principal{
    border-left: 5px solid #9BD0BA;
    padding-left: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    color: black;
}
.primeira-sessao{
    display: flex;
    flex-direction: column;
}
.segunda-sessao{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
p{
    font-weight: 300;
}
.terceira-sessao{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #9BD0BA;
    height: 20vh;
}
#footer{
    color: white;
    align-items: center;
    justify-content: center;
    display: flexbox;
    font-weight: 500;
    padding: 20px;
}